<ion-header>
  <ion-toolbar color = "secondary">
    <ion-title>
     Mi Panel de Contro Metamorfo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="ion-padding">
  Introduzca sus datos:
  </div>
  <ion-item>
    <ion-label position="floating" >Nombre</ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Celular</ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">CI</ion-label>
    <ion-input ></ion-input>
  </ion-item>

  <h3>Seleccione el producto que desea pedir:</h3>

<ion-button (click) = 'IrAUbicacion()'>
  <ion-icon name="pizza"></ion-icon>
</ion-button>
<ion-button (click) = 'IrAUbicacion()'>
  <ion-icon name="beer"></ion-icon>
</ion-button>
<ion-button (click) = 'IrAUbicacion()'>
  <ion-icon name="ice-cream"></ion-icon>
</ion-button>
<ion-button (click) = 'IrAUbicacion()'>
  <ion-icon name="wine"></ion-icon>
</ion-button>
<ion-button (click) = 'IrAUbicacion()'>
    <ion-icon name="pint"></ion-icon>
  </ion-button>

</ion-content>
